// @import "~bootstrap/scss/bootstrap"

$body-color: white;

body {
    background-color: $body-color;
    
    li {
        list-style-type: none;
    }
    
    .list-group-item{
        cursor: move;
    }
}

